In [5]:
# Import the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
# Read the csv file
movies = pd.read_csv("C:/Users/Andy Dotter/Documents/05_Spring_2019/Spring_2/Social Network Analytics/movie_metadata.csv")

In [7]:
# Print the column names
movies.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [8]:
# How many movies do we have?
movies.shape

(5043, 28)

In [9]:
# Preview of dataset
movies.head()

# Drop duplicated columns
movies = movies.drop_duplicates()

# Drop columns that we do not need
movies_short = movies.loc[:,['movie_title', 'actor_1_name', 'actor_2_name', 'actor_3_name', 'imdb_score', 'genres']]

# Preview the new dataframe
movies_short.head()

,movie_title,actor_1_name,actor_2_name,actor_3_name,imdb_score,genres
0,Avatar,CCH Pounder,Joel David Moore,Wes Studi,7.9,Action|Adventure|Fantasy|Sci-Fi
1,Pirates of the Caribbean: At World's End,Johnny Depp,Orlando Bloom,Jack Davenport,7.1,Action|Adventure|Fantasy
2,Spectre,Christoph Waltz,Rory Kinnear,Stephanie Sigman,6.8,Action|Adventure|Thriller
3,The Dark Knight Rises,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,8.5,Action|Thriller
4,Star Wars: Episode VII - The Force Awakens ...,Doug Walker,Rob Walker,NaN,7.1,Documentary

In [10]:
def gephi(movies):
    movies = movies.loc[:,['actor_1_name', 'actor_2_name', 'actor_3_name']]
    movies = movies.replace(' ', '_', regex=True) # replace whitespace by underscore, since Gephi doesn't recognize spaces
    movies = movies.reset_index(drop=True) # reset indices
    return(movies)

In [12]:
actors = gephi(movies_short)

In [13]:
# Print out the actor CSV
actors.to_csv("actors.csv", sep = ";", index = False, header = False)