In [1]:
# Import the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Read the csv file
movies = pd.read_csv("movie_metadata.csv")

In [4]:
# Print the column names
movies.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [5]:
# How many movies do we have?
movies.shape

(5043, 28)

In [6]:
# Preview of dataset
movies.head()

# Drop duplicated columns
movies = movies.drop_duplicates()

# Drop columns that we do not need
movies_short = movies.loc[:,['movie_title', 'actor_1_name', 'actor_2_name', 'actor_3_name', 'imdb_score', 'genres']]

# Preview the new dataframe
movies_short.head()

,movie_title,actor_1_name,actor_2_name,actor_3_name,imdb_score,genres
0,Avatar,CCH Pounder,Joel David Moore,Wes Studi,7.9,Action|Adventure|Fantasy|Sci-Fi
1,Pirates of the Caribbean: At World's End,Johnny Depp,Orlando Bloom,Jack Davenport,7.1,Action|Adventure|Fantasy
2,Spectre,Christoph Waltz,Rory Kinnear,Stephanie Sigman,6.8,Action|Adventure|Thriller
3,The Dark Knight Rises,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,8.5,Action|Thriller
4,Star Wars: Episode VII - The Force Awakens ...,Doug Walker,Rob Walker,NaN,7.1,Documentary

In [43]:
def gephi(movies):
    movies = movies.loc[:,['actor_1_name', 'actor_2_name', 'actor_3_name', 'imdb_score']]
    movies = movies.replace(' ', '_', regex=True) # replace whitespace by underscore, since Gephi doesn't recognize spaces
    movies = movies.reset_index(drop=True) # reset indices
    return(movies)

In [51]:
actors = gephi(movies_short)

,actor_1_name,actor_2_name,actor_3_name,imdb_score
0,CCH_Pounder,Joel_David_Moore,Wes_Studi,7.9
1,Johnny_Depp,Orlando_Bloom,Jack_Davenport,7.1
2,Christoph_Waltz,Rory_Kinnear,Stephanie_Sigman,6.8
3,Tom_Hardy,Christian_Bale,Joseph_Gordon-Levitt,8.5
4,Doug_Walker,Rob_Walker,NaN,7.1
5,Daryl_Sabara,Samantha_Morton,Polly_Walker,6.6
6,J.K._Simmons,James_Franco,Kirsten_Dunst,6.2
7,Brad_Garrett,Donna_Murphy,M.C._Gainey,7.8
8,Chris_Hemsworth,Robert_Downey_Jr.,Scarlett_Johansson,7.5
9,Alan_Rickman,Daniel_Radcliffe,Rupert_Grint,7.5
10,Henry_Cavill,Lauren_Cohan,Alan_D._Purwin,6.9
11,Kevin_Spacey,Marlon_Brando,Frank_Langella,6.1
12,Giancarlo_Giannini,Mathieu_Amalric,Rory_Kinnear,6.7
13,Johnny_Depp,Orlando_Bloom,Jack_Davenport,7.3
14,Johnny_Depp,Ruth_Wilson,Tom_Wilkinson,6.5
15,Henry_Cavill,Christopher_Meloni,Harry_Lennix,7.2
16,Peter_Dinklage,Pierfrancesco_Favino,Damián_Alcázar,6.6
17,Chris_Hemsworth,Robert_Downey_Jr.,Scarlett_Johansson,8.1
18,Johnny_Depp,Sam_Claflin,Stephen_Graham,6.7
19,Will_Smith,Michael_Stuhlbarg,Nicole_Scherzinger,6.8
20,Aidan_Turner,Adam_Brown,James_Nesbitt,7.5
21,Emma_Stone,Andrew_Garfield,Chris_Zylka,7.0
22,Mark_Addy,William_Hurt,Scott_Grimes,6.7
23,Aidan_Turner,Adam_Brown,James_Nesbitt,7.9
24,Christopher_Lee,Eva_Green,Kristin_Scott_Thomas,6.1
25,Naomi_Watts,Thomas_Kretschmann,Evan_Parke,7.2
26,Leonardo_DiCaprio,Kate_Winslet,Gloria_Stuart,7.7
27,Robert_Downey_Jr.,Scarlett_Johansson,Chris_Evans,8.2
28,Liam_Neeson,Alexander_Skarsgård,Tadanobu_Asano,5.9
29,Bryce_Dallas_Howard,Judy_Greer,Omar_Sy,7.0
...,...,...,...,...
4968,Franky_G,Panchito_Gómez,Casper_Martinez,7.0
4969,Matt_Frewer,Katharine_Isabelle,Michael_Paré,6.3
4970,Tommy_Pallotta,Richard_Linklater,Jean_Caffeine,7.1
4971,Tjasa_Ferme,Mikaal_Bates,Damon_Owlia,4.8
4972,Kristen_Seavey,Suzi_Lorraine,Travis_Legge,3.3
4973,Shannen_Fields,Lisa_Arnold,Janet_Lee_Dapper,6.9
4974,Ashley_Tramonte,Brittany_Curran,Lindsay_MacDonald,4.6
4975,Robbie_Barnes,Alana_Kaniewski,Brandon_Landers,3.0
4976,Mark_Duplass,Katie_Aselton,Bari_Hyman,6.6
4977,Paul_Ogola,Olwenya_Maina,Mugambi_Nthiga,7.4
4978,Zoe_Lister-Jones,Heather_Burns,Ebon_Moss-Bachrach,6.2
4979,Sean_Whalen,Jason_Trost,Nick_Principe,4.0
4980,Divine,Mink_Stole,Edith_Massey,6.1
4981,Maggie_Cheung,Béatrice_Dalle,Don_McKellar,6.9
4982,Fereshteh_Sadre_Orafaiy,Nargess_Mamizadeh,Mojgan_Faramarzi,7.5
4983,Patrick_O'Donnell,Michael_Parle,Emma_Eliza_Regan,6.7
4984,Kôji_Yakusho,Anna_Nakagawa,Denden,7.4
4985,Tatiana_Suarez-Pico,Michael_Cortez,Eric_Ambriz,6.1
4986,Julianna_Pitt,Joe_Coffey,John_Lucas,5.4
4987,Peter_Greene,Stanley_B._Herman,James_Noble,6.4
4988,Shane_Carruth,David_Sullivan,Casey_Gooden,7.0
4989,Ian_Gamazon,Edgar_Tancangco,Quynn_Ton,6.3
4990,Carlos_Gallardo,Peter_Marquardt,Consuelo_Gómez,6.9
4991,Richard_Jewell,John_Considine,Sara_Stepnicka,7.8
4992,Kerry_Bishé,Caitlin_FitzGerald,Daniella_Pineda,6.4
4993,Eric_Mabius,Daphne_Zuniga,Crystal_Lowe,7.7
4994,Natalie_Zea,Valorie_Curry,Sam_Underwood,7.5
4995,Eva_Boehnke,Maxwell_Moody,David_Chandler,6.3
4996,Alan_Ruck,Daniel_Henney,Eliza_Coupe,6.3
4997,John_August,Brian_Herzlinger,Jon_Gunn,6.6

In [9]:
# Print out the actor CSV
actors.to_csv("actors.csv", sep = ",", index = False, header = False)

In [63]:
# function to get unique values 
def unique(list1): 
  
    # intilize a null list 
    unique_list = [] 
      
    # traverse for all elements 
    for x in list1: 
        # check if exists in unique_list or not 
        if x not in unique_list: 
            unique_list.append(x) 
    # return list 
    return(unique_list)

In [67]:
unique_list = unique(actors["actor_1_name"].append(actors["actor_2_name"]).append(actors["actor_3_name"]))
unique_list.sort()

TypeError: '<' not supported between instances of 'float' and 'str'

In [38]:
df2 = pd.DataFrame(np.zeros((len(unique_list), len(unique_list))), columns=unique_list, index = unique_list)

In [41]:
df2.to_csv("test.csv", sep = ";", index = True, header = True)

In [54]:
for i in unique_list:
    for j in unique_list:
        if i != j:
            ratings = []
            
df2.iloc[0,0]

0.0

True